{{!Cart File}}
<div id="checkout" class="w-80 mx-auto justify-center">
  <div class="text-xlg m-3 w-full">Checkout</div>
    <div class='m-3 w-full'>
      <span class="text-lg">Total: {{total}}
      Items: {{totalitems}}</span>
      {{#each cart as |item|}}
        
            <div class='w-80 h-full min-h-48 object-contain m-3 p-1 rounded-md bg-slate-100 hover:bg-slate-200'>
              <a href='/product/{{item.product.id}}'>
                <div class='float-right w-48'>
                  <img src='{{item.product.url}}' class='object-contain h-12 w-24' />
                </div>
                <div class='w-full mx-auto'>{{item.product.name}}</div>
                <div class="w-full mx-auto">{{item.product.description}}</div>
                <div class="w-full mx-auto p-3">Quantity Ordered: {{item.quantity}} Subtotal: {{item.subtotal}}</div>
              </a>
              <a class="text-red-800 hover:text-red-600 cursor-pointer" data-product_id="{{id}}">Remove</a>
            </div>
      {{/each}}
    </div>
    <div class="justify-center">
      {{#if cart.length}}
      <button id="submit" class="bg-slate-900 hover:bg-slate-400 text-white px-3 py-2 rounded-md text-sm font-medium justify-center">Submit Order Now</button>
      {{else}}
      <div>Your cart is empty!</div>
      {{/if}}
    </div>
  </div>
</div>

<script src='/javascript/cart.js'></script>